#banner{
    margin-top: 50px;
    position: relative;
    
}

#banner img{
    width: 100%;
    height: 100%;
    
}

#banner .container{
    
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    text-shadow: 1px 1px gray;
    
}

#banner h2{
    text-shadow: 2px 2px lightgray;
    font-size: 28px;
}

#banner a{
    display: block;
    width: 120px;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-top: 10px;
    background: rgba(232,226,226,0.5);
    
}

#banner a:hover{
    background: rgba(51,51,51,0.3)
}

@media (min-width:480px){
    #banner h2{
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:500px){
    #banner {
        height: 300px;
        overflow: hidden;
    }   
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1000px){
    
    #banner img {
        
        margin-top: -200px;
    }
}