#blog h3,h4{
    text-align: center;
}
#blog h3{
    //text-decoration: underline; 
    text-shadow: 1px 1px lightgray;
}
#blog .container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;
}