#info{
    background: #333;
    color:white;
    text-align: center;
}

#info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet{
    margin: 20px;
}

.info-pet img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid white;
}

@media (min-width:480px){
    .info-pet{
        width: 40%;
    }
}

@media (min-width:1000px){
    .info-pet{
        width: auto;
    }
}